html {
    height: 100%;
}

body {
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.thanks-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
}

.thanks {
    font: 32px/1.5 Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.thanks .emoji {
    bottom: -10px;
    font-size: 48px;
    line-height: 1;
    position: relative;
}

.thanks a {
    color: blue;
    display: inline-block;
    font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 18px;
    margin: -5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: transform .1s ease-in;
}

.thanks a:hover {
    transform: scale(2);
}

.author {
    color: #999;
    font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    top: 0;
}

.author a {
    background: no-repeat left center/contain url(/img/fe-logo.svg);
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding-left: 28px;
    vertical-align: middle;
}

.author a:link, .author a:active, .author a:visited {
    color: #e64c66;
    text-decoration: none;
}

.author a .name {
    display: inline-block;
    text-indent: -300px;
    transition: text-indent .3s ease-out;
    overflow: hidden;
}

.author a:hover .name,
.author a:focus .name {
    text-indent: 0;
}

.imprint {
    font: 12px Helvetica Neue,Helvetica,Arial,sans-serif;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.imprint a {
    color: #999;
}
.imprint a:hover {
    text-decoration: none;
}

